ORDER_APP_PORT=5002
JWT_SECRET=dev-order-jwt-secret-dev-order-jwt-secret-123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5003
POSTGRES_DB=orderdb
POSTGRES_DB_DEV=orderdb_dev
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
ORDER_INVENTORY_URL=http://localhost:4002/api/products
ORDER_INVENTORY_INTERNAL_ROLE=ADMIN
ORDER_INVENTORY_INTERNAL_USER_ID=order-service
ORDER_WALLET_URL=http://localhost:6002/api/contracts/wallet
ORDER_WALLET_INTERNAL_AUTHORIZATION=Bearer internal-order-service
ORDER_WALLET_GRPC_HOST=localhost
ORDER_WALLET_GRPC_PORT=9090
GRPC_SERVER_INTERNAL_TOKEN=replace-with-shared-internal-token
ORDER_VOUCHER_URL=http://localhost:7002/api/vouchers
ORDER_PROFILE_URL=http://localhost:3002/api/profile
ORDER_PROFILE_INTERNAL_AUTHORIZATION=Bearer <JWT_ADMIN_DARI_BE_AUTHENTICATION>
ORDER_SECURITY_PRINCIPAL_CLAIM=sub
