ORDER_APP_PORT=5002
POSTGRES_HOST=localhost
POSTGRES_PORT=5003
POSTGRES_DB=orderdb
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
ORDER_INVENTORY_URL=http://localhost:4002/api/products
ORDER_WALLET_URL=http://localhost:6002/wallet
ORDER_WALLET_INTERNAL_AUTHORIZATION=Bearer internal-order-service
ORDER_PROFILE_URL=http://localhost:3002/api/profile
ORDER_PROFILE_INTERNAL_AUTHORIZATION=Bearer internal-order-service
